<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>catapult - find your launch</title>
  <!-- BootStrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/styles.css" type="text/css"/>
</head>
<body>
  <div class="loader"></div>
  <header>
    <h1>catapult: upcoming launches directory</h1>
  </header>
  <main class=container>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Launch Time</th>
          <th>Rocket</th>
          <th>Agencies</th>
          <th>Launch Location</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((datum) => { %>
          <tr class='hover-trigger'>
            <!-- Display launch time -->
            <td>
              <%= datum.net %>
            </td>
            <!-- Display rocket name -->
            <td>
              <a href=<%= datum.rocket.wikiURL %>><%= datum.rocket.name %></a>
            </td>
            <!-- Display the space agencies involved -->
            <td>
              <% datum.location.pads[0].agencies.forEach((agency) => { %>
                <span class="agency-abbrev">
                  <a href=<%= agency.wikiURL %>><%= agency.abbrev %></a>
                </span>
              <% }) %>
            </td>
            <!-- Display the launch location -->
            <td>
              <% if (datum.location.pads[0].mapURL) { %>
                <a href=<%= datum.location.pads[0].mapURL%>><%= datum.location.name %></a>
              <% } else { %>
                <a><%= datum.location.name %></a>
              <% } %>
            </td>
          </tr>
          <tr class='hoverable'>
          </tr>
          <tr class='hoverable'>
            <td colspan='4'>
              <% if (datum.missions[0]) { %>
                <h3><%= datum.missions[0].name %></h3>
                <span class="mission-id">Mission ID: <%= datum.missions[0].id %></span>
                <span class="mission-type">Mission Type: <%= datum.missions[0].typeName %></span>
                <br/>
                <p><%= datum.missions[0].description %></p>
              <% } %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </main>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
